// fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Lato:wght@300;400;700&display=swap');

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// containers
.lg_container, .md_lg_container, .md_container, .sm_container {
    margin: auto;
}

.lg_container {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.md_container {
    width: 77%;
    margin: auto;
}

.sm_container {
    width: 35%;
}

// list
ul {
    list-style: none;
}

// buttons 
.btn_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2.5rem;
}

.btn_green {
    background-color: #49a987;
}

.btn_green:hover {
    background-color: #357f60;
}

.btn_yellow {
    background-color:#f4b429;
    width: 230px;
}

.btn_yellow:hover {
    background-color:#f4a700;
}
// typo
h2 {
    font-size: 3.75rem;
    font-family: 'Kristi', cursive;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
}

.small_text {
    font-size: 10px;
}

// links
a {
    text-decoration: none;
    color: inherit;
}